
* {
    /* border: solid red 2px; */
    font-family: monospace;
}
.header {
    display: flex;
    justify-content: flex-end;
}
.header li {
    display: inline;
    padding: 30px;
    }

.header li a{
     
    color: black;
   
}
.header li a:hover {
    color: green;
}
    
.header ul #contact a{
  
    padding: 5px;
    color: white;
    background-color: royalblue;
    border-radius: 15px;
    
   
}
.header ul #contact a:hover{

    background-color: green;
}

#map {
    height: 100%;
  }

main, main h2, main aside, main textarea, main button, main section, main div {
    border: 1px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin: 10px 0;
}

#welcome-header {
    height: 50px;
    text-align: center;
    font-size: 26px;
    font-variant: small-caps;
}

.footer {
    height: 88px;
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
    padding: 1rem 1.5rem 6rem;
}
    
