
* {
    border: solid red 2px;
    font-family: monospace;
}

#map {
    height: 100%;
  }

main, main h2, main aside, main textarea, main button, main section, main div {
    border: 1px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin: 10px 0;
}

#welcome-header {
    height: 40px;
    text-align: center;
    font-size: 26px;
    font-variant: small-caps;
}
